{% if site.duoshuo.config %}
<script type="text/javascript">
    var duoshuoQuery = {short_name: '{{ site.duoshuo.shortname }}'};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
{% else %}
    {% if site.duoshuo.config %}
        <script type="text/javascript">
            //disqus
            var disqus_shortname = '{{ site.disqus.shortname }}';
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] ||
                    document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    {% endif %}
{% endif %}
