<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li>
      <a class="jiathis_button_tsina" title="分享到新浪微博"><i class="iconfont icon-weibo-square"></i></a>
    </li>
    <li>
      <a class="jiathis_button_weixin" title="分享到微信"><i class="iconfont icon-weixin-square"></i></a>
    </li>
    <li>
      <a class="jiathis_button_renren" title="分享到人人网"><i class="iconfont icon-renren-square"></i></a>
    </li>
    <li>
      <a class="jiathis_button_qzone" title="分享QQ空间"><i class="iconfont icon-qzone-square"></i></a>
    </li>
    <li>
      <a class="jiathis_button_douban" title="分享到豆瓣网"><i class="iconfont icon-douban-square"></i></a>
    </li>
  </ul>
</div>

